In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import random
from scipy import stats

In [4]:
wa_data = pd.read_csv('../Inputs/SALESInputs/WA_MJ_Sales_and_Taxes.csv')
wa_data = wa_data[:-1]
wa_data = wa_data.rename(columns={
    'Month of Activity2': 'Month',
    'Taxable retail sales as reported by marijuana collectives (before tax)3': 'Taxable Retail Sales',
    'Estimated retail value of marijuana and marijuana products sold at a licensed marijuana retailer (before tax)4': 'Estimated Retail Value',
    'Total retail value of marijuana and marijuana products (before tax)': 'Total Retail Value',
    'Sales exempt from sales tax for medical purposes5': 'Tax-exempt Sales',
    'Estimated retail value of marijuana and marijuana products subject to state and local sales taxes': 'Est. Retail Value subject to Tax',
    'Estimated state sales tax collections': 'Est. State Sales Tax Collections',
    'Weighted average local sales tax rate6': 'Avg. Local Sales Tax Rate',
    'Estimated local sales tax collections': 'Est. Local Sales Tax Collections'
})
wa_data['State'] = 'WA'
wa_data

,Month,Taxable Retail Sales,Estimated Retail Value,Total Retail Value,Tax-exempt Sales,Est. Retail Value subject to Tax,Est. State Sales Tax Collections,Avg. Local Sales Tax Rate,Est. Local Sales Tax Collections,State
0,Jul-14,7478000.0,1847000.0,9325000.0,0.0,9325000.0,606000.0,0.024696,230000.0,WA
1,Aug-14,7347000.0,4555000.0,11902000.0,0.0,11902000.0,774000.0,0.024696,294000.0,WA
2,Sep-14,8598000.0,5806000.0,14404000.0,0.0,14404000.0,936000.0,0.024696,356000.0,WA
3,Oct-14,7597000.0,7746000.0,15344000.0,0.0,15344000.0,997000.0,0.024696,379000.0,WA
4,Nov-14,7526000.0,9091000.0,16618000.0,0.0,16618000.0,1080000.0,0.024696,410000.0,WA
5,Dec-14,12405000.0,11605000.0,24010000.0,0.0,24010000.0,1561000.0,0.024696,593000.0,WA
6,Jan-15,10237000.0,13096000.0,23334000.0,0.0,23334000.0,1517000.0,0.024696,576000.0,WA
7,Feb-15,9869000.0,16086000.0,25955000.0,0.0,25955000.0,1687000.0,0.024696,641000.0,WA
8,Mar-15,11367000.0,21363000.0,32730000.0,0.0,32730000.0,2127000.0,0.024696,808000.0,WA
9,Apr-15,11451000.0,24854000.0,36306000.0,0.0,36306000.0,2360000.0,0.024696,897000.0,WA
10,May-15,11844000.0,30303000.0,42148000.0,0.0,42148000.0,2740000.0,0.024696,1041000.0,WA
11,Jun-15,12181000.0,33277000.0,45458000.0,0.0,45458000.0,2955000.0,0.024696,1123000.0,WA
12,Jul-15,8185000.0,31455000.0,39640000.0,0.0,39640000.0,2577000.0,0.024990,991000.0,WA
13,Aug-15,7756000.0,35253000.0,43009000.0,0.0,43009000.0,2796000.0,0.024990,1075000.0,WA
14,Sep-15,7554000.0,37923000.0,45477000.0,0.0,45477000.0,2956000.0,0.024990,1136000.0,WA
15,Oct-15,7155000.0,38116000.0,45272000.0,0.0,45272000.0,2943000.0,0.024990,1131000.0,WA
16,Nov-15,6725000.0,35652000.0,42378000.0,0.0,42378000.0,2755000.0,0.024990,1059000.0,WA
17,Dec-15,7388000.0,40196000.0,47584000.0,0.0,47584000.0,3093000.0,0.024990,1189000.0,WA
18,Jan-16,5338000.0,39596000.0,44934000.0,0.0,44934000.0,2921000.0,0.024990,1123000.0,WA
19,Feb-16,5147000.0,42329000.0,47476000.0,0.0,47476000.0,3086000.0,0.024990,1186000.0,WA
20,Mar-16,5420000.0,46713000.0,52133000.0,0.0,52133000.0,3389000.0,0.024990,1303000.0,WA
21,Apr-16,5826000.0,49037000.0,54863000.0,0.0,54863000.0,3566000.0,0.024990,1371000.0,WA
22,May-16,5862000.0,51821000.0,57683000.0,0.0,57683000.0,3749000.0,0.024990,1442000.0,WA
23,Jun-16,5722000.0,53856000.0,59578000.0,0.0,59578000.0,3873000.0,0.024990,1489000.0,WA
24,Jul-16,0.0,64241000.0,64241000.0,149000.0,64092000.0,4166000.0,0.025355,1625000.0,WA
25,Aug-16,0.0,68168000.0,68168000.0,440000.0,67729000.0,4402000.0,0.025355,1717000.0,WA
26,Sep-16,0.0,70903000.0,70903000.0,641000.0,70262000.0,4567000.0,0.025355,1781000.0,WA
27,Oct-16,0.0,69242000.0,69242000.0,707000.0,68536000.0,4455000.0,0.025355,1738000.0,WA
28,Nov-16,0.0,67194000.0,67194000.0,785000.0,66409000.0,4317000.0,0.025355,1684000.0,WA
29,Dec-16,0.0,73130000.0,73130000.0,922000.0,72208000.0,4694000.0,0.025355,1831000.0,WA
30,Jan-17,0.0,67746000.0,67746000.0,780000.0,66965000.0,4353000.0,0.025355,1698000.0,WA
31,Feb-17,0.0,67517000.0,67517000.0,834000.0,66683000.0,4334000.0,0.025355,1691000.0,WA
32,Mar-17,0.0,76468000.0,76468000.0,1197000.0,75271000.0,4893000.0,0.025355,1908000.0,WA
33,Apr-17,0.0,74191000.0,74191000.0,1004000.0,73187000.0,4757000.0,0.025355,1856000.0,WA
34,May-17,0.0,74826000.0,74826000.0,1010000.0,73816000.0,4798000.0,0.025355,1872000.0,WA
35,Jun-17,0.0,77309000.0,77309000.0,1026000.0,76283000.0,4958000.0,0.025355,1934000.0,WA
36,Jul-17,0.0,80762000.0,80762000.0,970000.0,79792000.0,5187000.0,0.028239,2253000.0,WA
37,Aug-17,0.0,83199000.0,83199000.0,1079000.0,82120000.0,5338000.0,0.028239,2319000.0,WA
38,Sep-17,0.0,82329000.0,82329000.0,1007000.0,81321000.0,5286000.0,0.028239,2296000.0,WA
39,Oct-17,0.0,79698000.0,79698000.0,962000.0,78736000.0,5118000.0,0.028239,2223000.0,WA
40,Nov-17,0.0,77620000.0,77620000.0,933000.0,76688000.0,4985000.0,0.028239,2166000.0,WA
41,Dec-17,0.0,83578000.0,83578000.0,987000.0,82590000.0,5368000.0,0.028239,2332000.0,WA
42,Jan-18,0.0,77732000.0,77732000.0,936000.0,76796000.0,4992000.0,0.028239,2169000.0,WA
43,Feb-18,0.0,75851000.0,75851000.0,931000.0,74920000.0,4870000.0,0.028239,2116000.0,WA
44,Mar-18,0.0,85666000.0,85666000.0,1113000.0,84553000.0,5496000.0,0.028239,2388000.0,WA
45,Apr-18,0.0,81343000.0,81343000.0,1012000.0,80331000.0,5221000.0,0.028239,2268000.0,WA
46,May-18,0.0,83111000.0,83111000.0,1013000.0,82098000.0,5336000.0,0.028239,2318000.0,WA
47,Jun-18,0.0,85933000.0,85933000.0,1017000.0,84917000.0,5520000.0,0.028239,2398000.0,WA
48,Jul-18,0.0,87896000.0,87896000.0,987000.0,86909000.0,5649000.0,0.028260,2456000.0,WA
49,Aug-18,0.0,91727000.0,91727000.0,1033000.0,90694000.0,5895000.0,0.028260,2563000.0,WA
50,Sep-18,0.0,84642000.0,84642000.0,983000.0,83659000.0,5438000.0,0.028260,2364000.0,WA
51,Oct-18,0.0,76594000.0,76594000.0,986000.0,75608000.0,4915000.0,0.028260,2137000.0,WA

In [5]:
wa_total_retail_value = wa_data['Total Retail Value'].sum()
wa_total_retail_value

3046177000.0

In [6]:
co_data = pd.read_csv('../Inputs/SALESInputs/CO_MJ_Sales.csv')
co_data['State'] = 'CO'
co_data = co_data.drop(columns=[
    'Medical Monthly Sales',
    'Medical YTD'
])
co_data

,Month,Retail Monthly Sales,Retail YTD,Total Monthly Sales,Total YTD,Total to Date,State
0,Jan 2014,14022213,14022213,46563933,46563933,46563933,CO
1,Feb 2014,14248473,28270686,45987045,92550978,92550978,CO
2,Mar 2014,19881631,48152317,54703509,147254487,147254487,CO
3,Apr 2014,20765986,68918303,53452855,200707342,200707342,CO
4,May 2014,21375001,90293304,52730209,253437551,253437551,CO
5,Jun 2014,23978082,114271386,53928391,307365942,307365942,CO
6,Jul 2014,29866792,144138178,61004415,368370357,368370357,CO
7,Aug 2014,33520608,177658786,67432834,435803191,435803191,CO
8,Sep 2014,30345357,208004143,63066595,498869786,498869786,CO
9,Oct 2014,31185985,239190128,62965201,561834987,561834987,CO
10,Nov 2014,29470126,268660254,58448588,620283575,620283575,CO
11,Dec 2014,34579445,303239699,63240164,683523739,683523739,CO
12,Jan 2015,37224033,37224033,67405866,67405866,750929605,CO
13,Feb 2015,35843189,73067222,64909262,132315128,815838867,CO
14,Mar 2015,42952626,116019848,75773174,208088302,891612041,CO
15,Apr 2015,43832944,159852792,76711461,284799763,968323502,CO
16,May 2015,44590853,204443645,78199969,362999732,1046523471,CO
17,Jun 2015,46460218,250903863,81012614,444012346,1127536085,CO
18,Jul 2015,55315111,306218974,95926250,539938596,1223462335,CO
19,Aug 2015,57679482,363898456,98498850,638437446,1321961185,CO
20,Sep 2015,53639366,417537822,93631179,732068625,1415592364,CO
21,Oct 2015,54467764,472005586,91210544,823279169,1506802908,CO
22,Nov 2015,49453755,521459341,80224191,903503360,1587027099,CO
23,Dec 2015,56077002,577536343,92087895,995591255,1679114994,CO
24,Jan 2016,55896018,55896018,88756562,88756562,1767871556,CO
25,Feb 2016,57045314,112941332,91064548,179821110,1858936104,CO
26,Mar 2016,65121388,178062720,103237561,283058671,1962173665,CO
27,Apr 2016,63841328,241904048,102135831,385194502,2064309496,CO
28,May 2016,63831071,305735119,101467366,486661868,2165776862,CO
29,Jun 2016,67881863,373616982,106059413,592721281,2271836275,CO
30,Jul 2016,81478447,455095429,121608432,714329713,2393444707,CO
31,Aug 2016,84055363,539150792,125112311,839442024,2518557018,CO
32,Sep 2016,86137409,625288201,125809892,965251916,2644366910,CO
33,Oct 2016,80695313,705983514,116635868,1081887784,2761002778,CO
34,Nov 2016,74382892,780366406,109222331,1191110115,2870225109,CO
35,Dec 2016,81221005,861587411,116093358,1307203473,2986318467,CO
36,Jan 2017,76018423,76018423,107731031,107731031,3094049498,CO
37,Feb 2017,75665966,151684389,106740379,214471410,3200789877,CO
38,Mar 2017,92912147,244596536,130363830,344835240,3331153707,CO
39,Apr 2017,86223281,330819817,124272673,469107913,3455426380,CO
40,May 2017,87012525,417832342,123534419,592642332,3578960799,CO
41,Jun 2017,92825639,510657981,128951217,721593549,3707912016,CO
42,Jul 2017,101037453,611695434,136294447,857887996,3844206463,CO
43,Aug 2017,101548082,713243516,138469157,996357153,3982675620,CO
44,Sep 2017,100280636,813524152,135798669,1132155822,4118474289,CO
45,Oct 2017,93623919,907148071,127706166,1259861988,4246180455,CO
46,Nov 2017,87689309,994837380,119567777,1379429765,4365748232,CO
47,Dec 2017,96348057,1091185437,128272454,1507702219,4494020686,CO
48,Jan 2018,88729914,88729914,117993222,117993222,4612013908,CO
49,Feb 2018,85869215,174599129,112509517,230502739,4724523425,CO
50,Mar 2018,105945278,280544407,135183956,365686695,4859707381,CO
51,Apr 2018,97290806,377835213,124309879,489996574,4984017260,CO
52,May 2018,96642441,474477654,122868216,612864790,5106885476,CO
53,Jun 2018,102426064,576903718,129523030,742387820,5236408506,CO
54,Jul 2018,111296569,688200287,138535584,880923403,5374944089,CO
55,Aug 2018,112998245,801198532,141322108,1022245511,5516266197,CO
56,Sep 2018,107638880,908837412,135536453,1157781963,5651802649,CO
57,Oct 2018,101305394,1010142806,129224771,1287006735,5781027421,CO
58,Nov 2018,97877084,1108019890,123939891,1410946626,5904967312,CO

In [7]:
ak_data = pd.read_csv('../Inputs/SALESInputs/AK_MJ_Sales.csv')
ak_data = ak_data[:-1]
ak_data

,Month,Year,Taxpayers,Cultivator Tax Liability,Tax Liability to Date,Buds(lbs),Trim(lbs),Buds Sales,Trim Sales,Total Sales,Effective Tax Rate
0,October,2016.0,4.0,10400.0,10400.0,NaN,NaN,NaN,NaN,NaN,NaN
1,November,2016.0,7.0,81100.0,91500.0,NaN,NaN,NaN,NaN,NaN,NaN
2,December,2016.0,13.0,145800.0,237300.0,167.0,46.0,793584.0,36800.0,830384.0,0.175581
3,January,2017.0,17.0,107500.0,344800.0,111.0,77.0,527472.0,61600.0,589072.0,0.182490
4,February,2017.0,20.0,128000.0,472800.0,135.0,85.0,641520.0,68000.0,709520.0,0.180404
5,March,2017.0,27.0,220200.0,693000.0,225.0,169.0,1069200.0,135200.0,1204400.0,0.182830
6,April,2017.0,29.0,272000.0,965000.0,269.0,236.0,1278288.0,188800.0,1467088.0,0.185401
7,May,2017.0,31.0,272600.0,1237600.0,290.0,170.0,1378080.0,136000.0,1514080.0,0.180043
8,June,2017.0,40.0,512500.0,1750100.0,547.0,313.0,2599344.0,250400.0,2849744.0,0.179841
9,July,2017.0,46.0,577901.0,2328001.0,612.0,369.0,2908224.0,295200.0,3203424.0,0.180401
10,August,2017.0,56.0,694364.0,3022365.0,734.0,447.0,3487968.0,357600.0,3845568.0,0.180562
11,September,2017.0,64.0,723757.0,3746122.0,716.0,630.0,3402432.0,504000.0,3906432.0,0.185273
12,October,2017.0,66.0,953591.0,4699713.0,1004.0,626.0,4771008.0,500800.0,5271808.0,0.180885
13,November,2017.0,67.0,872197.0,5571910.0,857.0,777.0,4072464.0,621600.0,4694064.0,0.185809
14,December,2017.0,70.0,784176.0,6356086.0,824.0,519.0,3915648.0,415200.0,4330848.0,0.181068
15,January,2018.0,81.0,1040512.0,7396598.0,1061.0,797.0,4855136.0,557900.0,5413036.0,0.192223
16,February,2018.0,87.0,897082.0,8293680.0,880.0,806.0,4026880.0,564200.0,4591080.0,0.195397
17,March,2018.0,92.0,1089580.0,9383260.0,1106.0,852.0,5061056.0,596400.0,5657456.0,0.192592
18,April,2018.0,90.0,1063847.0,10447107.0,1033.0,990.0,4727008.0,693000.0,5420008.0,0.196281
19,May,2018.0,96.0,1180349.0,11627456.0,1188.0,958.0,5436288.0,670600.0,6106888.0,0.193282
20,June,2018.0,100.0,1257513.0,12884969.0,1250.0,1074.0,5720000.0,751800.0,6471800.0,0.194307
21,July,2018.0,107.0,1369022.0,14253991.0,1378.0,1110.0,6305728.0,777000.0,7082728.0,0.193290
22,August,2018.0,111.0,1540427.0,15794418.0,1613.0,1041.0,7381088.0,728700.0,8109788.0,0.189947
23,September,2018.0,119.0,1481523.0,17275941.0,1529.0,1077.0,6996704.0,753900.0,7750604.0,0.191149

In [8]:
ore_data = pd.read_csv('../Inputs/SALESInputs/OR_MJ_Sales.csv')
ore_data = ore_data.drop(columns=['Unnamed: 3'])
ore_data

           Month  State Tax Received  Total Sales
0    February-16             2484170  14612764.71
1       March-16             4358754  25639729.41
2       April-16             3735111  21971241.18
3         May-16             4339440  25526117.65
4        June-16             5735508  33738282.35
5        July-16             5533949  32552641.18
6      August-16             7345281  43207535.29
7   September-16             6679585  39291676.47
8     October-16             7831157  46065629.41
9    November-16             6463877  38022805.88
10   December-16             5647600  33221176.47
11    January-17             5261096  30947623.53
12   February-17             4509163  26524488.24
13      March-17             4476032  26329600.00
14      April-17             4484514  26379494.12
15        May-17             5734618  33733047.06
16       June-17             6297025  37041323.53
17       July-17             5165585  30385794.12
18     August-17             6771924  39834847.06
19  September-17             6442786  37898741.18
20    October-17             6217860  36575647.06
21   November-17             7044311  41437123.53
22   December-17             6241332  36713717.65
23    January-18             8001999  47070582.35
24   February-18             6700855  39416794.12
25      March-18             6768304  39813552.94
26      April-18             7653882  45022835.29
27        May-18             7783565  45785676.47
28       June-18             7411327  43596041.18
29       July-18             8752076  51482800.00
30     August-18             8791774  51716317.65
31  September-18             6968501  40991182.35
32    October-18            10094972  59382188.24
33   November-18             8167938  48046694.12