In [1]:
%matplotlib notebook

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import random
from scipy import stats

In [3]:
wa_data = pd.read_csv('../Inputs/SALESInputs/WA_MJ_Sales_and_Taxes.csv')
wa_data = wa_data[:-1]
wa_data = wa_data.rename(columns={
    'Month of Activity2': 'Month',
    'Taxable retail sales as reported by marijuana collectives (before tax)3': 'Taxable Retail Sales',
    'Estimated retail value of marijuana and marijuana products sold at a licensed marijuana retailer (before tax)4': 'Estimated Retail Value',
    'Total retail value of marijuana and marijuana products (before tax)': 'Total Retail Value',
    'Sales exempt from sales tax for medical purposes5': 'Tax-exempt Sales',
    'Estimated retail value of marijuana and marijuana products subject to state and local sales taxes': 'Est. Retail Value subject to Tax',
    'Estimated state sales tax collections': 'Est. State Sales Tax Collections',
    'Weighted average local sales tax rate6': 'Avg. Local Sales Tax Rate',
    'Estimated local sales tax collections': 'Est. Local Sales Tax Collections'
})
wa_data['State'] = 'WA'
#wa_data['Month2'] = np.arange(7,58)
wa_data

,Month,Year,Taxable Retail Sales,Estimated Retail Value,Total Retail Value,Tax-exempt Sales,Est. Retail Value subject to Tax,Est. State Sales Tax Collections,Avg. Local Sales Tax Rate,Est. Local Sales Tax Collections,State
0,July,2014,7478000,1847000,9325000,0,9325000,606000,0.024696,230000,WA
1,August,2014,7347000,4555000,11902000,0,11902000,774000,0.024696,294000,WA
2,September,2014,8598000,5806000,14404000,0,14404000,936000,0.024696,356000,WA
3,October,2014,7597000,7746000,15344000,0,15344000,997000,0.024696,379000,WA
4,November,2014,7526000,9091000,16618000,0,16618000,1080000,0.024696,410000,WA
5,December,2014,12405000,11605000,24010000,0,24010000,1561000,0.024696,593000,WA
6,January,2015,10237000,13096000,23334000,0,23334000,1517000,0.024696,576000,WA
7,February,2015,9869000,16086000,25955000,0,25955000,1687000,0.024696,641000,WA
8,March,2015,11367000,21363000,32730000,0,32730000,2127000,0.024696,808000,WA
9,April,2015,11451000,24854000,36306000,0,36306000,2360000,0.024696,897000,WA
10,May,2015,11844000,30303000,42148000,0,42148000,2740000,0.024696,1041000,WA
11,June,2015,12181000,33277000,45458000,0,45458000,2955000,0.024696,1123000,WA
12,July,2015,8185000,31455000,39640000,0,39640000,2577000,0.024990,991000,WA
13,August,2015,7756000,35253000,43009000,0,43009000,2796000,0.024990,1075000,WA
14,September,2015,7554000,37923000,45477000,0,45477000,2956000,0.024990,1136000,WA
15,October,2015,7155000,38116000,45272000,0,45272000,2943000,0.024990,1131000,WA
16,November,2015,6725000,35652000,42378000,0,42378000,2755000,0.024990,1059000,WA
17,December,2015,7388000,40196000,47584000,0,47584000,3093000,0.024990,1189000,WA
18,January,2016,5338000,39596000,44934000,0,44934000,2921000,0.024990,1123000,WA
19,February,2016,5147000,42329000,47476000,0,47476000,3086000,0.024990,1186000,WA
20,March,2016,5420000,46713000,52133000,0,52133000,3389000,0.024990,1303000,WA
21,April,2016,5826000,49037000,54863000,0,54863000,3566000,0.024990,1371000,WA
22,May,2016,5862000,51821000,57683000,0,57683000,3749000,0.024990,1442000,WA
23,June,2016,5722000,53856000,59578000,0,59578000,3873000,0.024990,1489000,WA
24,July,2016,0,64241000,64241000,149000,64092000,4166000,0.025355,1625000,WA
25,August,2016,0,68168000,68168000,440000,67729000,4402000,0.025355,1717000,WA
26,September,2016,0,70903000,70903000,641000,70262000,4567000,0.025355,1781000,WA
27,October,2016,0,69242000,69242000,707000,68536000,4455000,0.025355,1738000,WA
28,November,2016,0,67194000,67194000,785000,66409000,4317000,0.025355,1684000,WA
29,December,2016,0,73130000,73130000,922000,72208000,4694000,0.025355,1831000,WA
30,January,2017,0,67746000,67746000,780000,66965000,4353000,0.025355,1698000,WA
31,February,2017,0,67517000,67517000,834000,66683000,4334000,0.025355,1691000,WA
32,March,2017,0,76468000,76468000,1197000,75271000,4893000,0.025355,1908000,WA
33,April,2017,0,74191000,74191000,1004000,73187000,4757000,0.025355,1856000,WA
34,May,2017,0,74826000,74826000,1010000,73816000,4798000,0.025355,1872000,WA
35,June,2017,0,77309000,77309000,1026000,76283000,4958000,0.025355,1934000,WA
36,July,2017,0,80762000,80762000,970000,79792000,5187000,0.028239,2253000,WA
37,August,2017,0,83199000,83199000,1079000,82120000,5338000,0.028239,2319000,WA
38,September,2017,0,82329000,82329000,1007000,81321000,5286000,0.028239,2296000,WA
39,October,2017,0,79698000,79698000,962000,78736000,5118000,0.028239,2223000,WA
40,November,2017,0,77620000,77620000,933000,76688000,4985000,0.028239,2166000,WA
41,December,2017,0,83578000,83578000,987000,82590000,5368000,0.028239,2332000,WA
42,January,2018,0,77732000,77732000,936000,76796000,4992000,0.028239,2169000,WA
43,February,2018,0,75851000,75851000,931000,74920000,4870000,0.028239,2116000,WA
44,March,2018,0,85666000,85666000,1113000,84553000,5496000,0.028239,2388000,WA
45,April,2018,0,81343000,81343000,1012000,80331000,5221000,0.028239,2268000,WA
46,May,2018,0,83111000,83111000,1013000,82098000,5336000,0.028239,2318000,WA
47,June,2018,0,85933000,85933000,1017000,84917000,5520000,0.028239,2398000,WA
48,July,2018,0,87896000,87896000,987000,86909000,5649000,0.028260,2456000,WA
49,August,2018,0,91727000,91727000,1033000,90694000,5895000,0.028260,2563000,WA
50,September,2018,0,84642000,84642000,983000,83659000,5438000,0.028260,2364000,WA

In [4]:
wa_data = wa_data[['Month', 'Year', 'Total Retail Value', 'State']]
wa_data = wa_data.rename(columns={
    'Total Retail Value':'Total Sales'
})
wa_data

        Month  Year  Total Sales State
0        July  2014      9325000    WA
1      August  2014     11902000    WA
2   September  2014     14404000    WA
3     October  2014     15344000    WA
4    November  2014     16618000    WA
5    December  2014     24010000    WA
6     January  2015     23334000    WA
7    February  2015     25955000    WA
8       March  2015     32730000    WA
9       April  2015     36306000    WA
10        May  2015     42148000    WA
11       June  2015     45458000    WA
12       July  2015     39640000    WA
13     August  2015     43009000    WA
14  September  2015     45477000    WA
15    October  2015     45272000    WA
16   November  2015     42378000    WA
17   December  2015     47584000    WA
18    January  2016     44934000    WA
19   February  2016     47476000    WA
20      March  2016     52133000    WA
21      April  2016     54863000    WA
22        May  2016     57683000    WA
23       June  2016     59578000    WA
24       July  2016     64241000    WA
25     August  2016     68168000    WA
26  September  2016     70903000    WA
27    October  2016     69242000    WA
28   November  2016     67194000    WA
29   December  2016     73130000    WA
30    January  2017     67746000    WA
31   February  2017     67517000    WA
32      March  2017     76468000    WA
33      April  2017     74191000    WA
34        May  2017     74826000    WA
35       June  2017     77309000    WA
36       July  2017     80762000    WA
37     August  2017     83199000    WA
38  September  2017     82329000    WA
39    October  2017     79698000    WA
40   November  2017     77620000    WA
41   December  2017     83578000    WA
42    January  2018     77732000    WA
43   February  2018     75851000    WA
44      March  2018     85666000    WA
45      April  2018     81343000    WA
46        May  2018     83111000    WA
47       June  2018     85933000    WA
48       July  2018     87896000    WA
49     August  2018     91727000    WA
50  September  2018     84642000    WA

In [5]:
wa_data['Year']= wa_data['Year'].astype('str', )
wa_data

        Month  Year  Total Sales State
0        July  2014      9325000    WA
1      August  2014     11902000    WA
2   September  2014     14404000    WA
3     October  2014     15344000    WA
4    November  2014     16618000    WA
5    December  2014     24010000    WA
6     January  2015     23334000    WA
7    February  2015     25955000    WA
8       March  2015     32730000    WA
9       April  2015     36306000    WA
10        May  2015     42148000    WA
11       June  2015     45458000    WA
12       July  2015     39640000    WA
13     August  2015     43009000    WA
14  September  2015     45477000    WA
15    October  2015     45272000    WA
16   November  2015     42378000    WA
17   December  2015     47584000    WA
18    January  2016     44934000    WA
19   February  2016     47476000    WA
20      March  2016     52133000    WA
21      April  2016     54863000    WA
22        May  2016     57683000    WA
23       June  2016     59578000    WA
24       July  2016     64241000    WA
25     August  2016     68168000    WA
26  September  2016     70903000    WA
27    October  2016     69242000    WA
28   November  2016     67194000    WA
29   December  2016     73130000    WA
30    January  2017     67746000    WA
31   February  2017     67517000    WA
32      March  2017     76468000    WA
33      April  2017     74191000    WA
34        May  2017     74826000    WA
35       June  2017     77309000    WA
36       July  2017     80762000    WA
37     August  2017     83199000    WA
38  September  2017     82329000    WA
39    October  2017     79698000    WA
40   November  2017     77620000    WA
41   December  2017     83578000    WA
42    January  2018     77732000    WA
43   February  2018     75851000    WA
44      March  2018     85666000    WA
45      April  2018     81343000    WA
46        May  2018     83111000    WA
47       June  2018     85933000    WA
48       July  2018     87896000    WA
49     August  2018     91727000    WA
50  September  2018     84642000    WA

In [6]:
wa_data['Date'] = wa_data['Month'].str.cat(others=wa_data['Year'])
wa_data['Date'] = pd.to_datetime(pd.Series(wa_data['Date']),
                                format="%B%Y")
wa_data

        Month  Year  Total Sales State       Date
0        July  2014      9325000    WA 2014-07-01
1      August  2014     11902000    WA 2014-08-01
2   September  2014     14404000    WA 2014-09-01
3     October  2014     15344000    WA 2014-10-01
4    November  2014     16618000    WA 2014-11-01
5    December  2014     24010000    WA 2014-12-01
6     January  2015     23334000    WA 2015-01-01
7    February  2015     25955000    WA 2015-02-01
8       March  2015     32730000    WA 2015-03-01
9       April  2015     36306000    WA 2015-04-01
10        May  2015     42148000    WA 2015-05-01
11       June  2015     45458000    WA 2015-06-01
12       July  2015     39640000    WA 2015-07-01
13     August  2015     43009000    WA 2015-08-01
14  September  2015     45477000    WA 2015-09-01
15    October  2015     45272000    WA 2015-10-01
16   November  2015     42378000    WA 2015-11-01
17   December  2015     47584000    WA 2015-12-01
18    January  2016     44934000    WA 2016-01-01
19   February  2016     47476000    WA 2016-02-01
20      March  2016     52133000    WA 2016-03-01
21      April  2016     54863000    WA 2016-04-01
22        May  2016     57683000    WA 2016-05-01
23       June  2016     59578000    WA 2016-06-01
24       July  2016     64241000    WA 2016-07-01
25     August  2016     68168000    WA 2016-08-01
26  September  2016     70903000    WA 2016-09-01
27    October  2016     69242000    WA 2016-10-01
28   November  2016     67194000    WA 2016-11-01
29   December  2016     73130000    WA 2016-12-01
30    January  2017     67746000    WA 2017-01-01
31   February  2017     67517000    WA 2017-02-01
32      March  2017     76468000    WA 2017-03-01
33      April  2017     74191000    WA 2017-04-01
34        May  2017     74826000    WA 2017-05-01
35       June  2017     77309000    WA 2017-06-01
36       July  2017     80762000    WA 2017-07-01
37     August  2017     83199000    WA 2017-08-01
38  September  2017     82329000    WA 2017-09-01
39    October  2017     79698000    WA 2017-10-01
40   November  2017     77620000    WA 2017-11-01
41   December  2017     83578000    WA 2017-12-01
42    January  2018     77732000    WA 2018-01-01
43   February  2018     75851000    WA 2018-02-01
44      March  2018     85666000    WA 2018-03-01
45      April  2018     81343000    WA 2018-04-01
46        May  2018     83111000    WA 2018-05-01
47       June  2018     85933000    WA 2018-06-01
48       July  2018     87896000    WA 2018-07-01
49     August  2018     91727000    WA 2018-08-01
50  September  2018     84642000    WA 2018-09-01

In [7]:
co_data = pd.read_csv('../Inputs/SALESInputs/CO_MJ_Sales.csv')
co_data['State'] = 'CO'
co_data = co_data.drop(columns=[
    'Medical Monthly Sales',
    'Medical YTD'
])
co_data = co_data[:-1]
co_data = co_data[['Month', 'Year', 'Total Monthly Sales', 'State']]
co_data = co_data.rename(columns={
    'Total Monthly Sales':'Total Sales'
})
co_data['Total Sales']= co_data['Total Sales'].astype(int)
co_data

        Month    Year  Total Sales State
0     January  2014.0     46563933    CO
1    February  2014.0     45987045    CO
2       March  2014.0     54703509    CO
3      April   2014.0     53452855    CO
4        May   2014.0     52730209    CO
5        June  2014.0     53928391    CO
6       July   2014.0     61004415    CO
7      August  2014.0     67432834    CO
8   September  2014.0     63066595    CO
9     October  2014.0     62965201    CO
10   November  2014.0     58448588    CO
11   December  2014.0     63240164    CO
12    January  2015.0     67405866    CO
13   February  2015.0     64909262    CO
14      March  2015.0     75773174    CO
15     April   2015.0     76711461    CO
16        May  2015.0     78199969    CO
17       June  2015.0     81012614    CO
18      July   2015.0     95926250    CO
19     August  2015.0     98498850    CO
20  September  2015.0     93631179    CO
21    October  2015.0     91210544    CO
22   November  2015.0     80224191    CO
23   December  2015.0     92087895    CO
24    January  2016.0     88756562    CO
25   February  2016.0     91064548    CO
26      March  2016.0    103237561    CO
27     April   2016.0    102135831    CO
28        May  2016.0    101467366    CO
29       June  2016.0    106059413    CO
30      July   2016.0    121608432    CO
31     August  2016.0    125112311    CO
32  September  2016.0    125809892    CO
33    October  2016.0    116635868    CO
34   November  2016.0    109222331    CO
35   December  2016.0    116093358    CO
36    January  2017.0    107731031    CO
37   February  2017.0    106740379    CO
38      March  2017.0    130363830    CO
39     April   2017.0    124272673    CO
40        May  2017.0    123534419    CO
41       June  2017.0    128951217    CO
42      July   2017.0    136294447    CO
43     August  2017.0    138469157    CO
44  September  2017.0    135798669    CO
45    October  2017.0    127706166    CO
46   November  2017.0    119567777    CO
47   December  2017.0    128272454    CO
48    January  2018.0    117993222    CO
49   February  2018.0    112509517    CO
50      March  2018.0    135183956    CO
51     April   2018.0    124309879    CO
52        May  2018.0    122868216    CO
53       June  2018.0    129523030    CO
54      July   2018.0    138535584    CO
55     August  2018.0    141322108    CO
56  September  2018.0    135536453    CO
57    October  2018.0    129224771    CO
58   November  2018.0    123939891    CO

In [8]:
co_data['Year']= co_data['Year'].astype(str)
co_data['Year'] = co_data['Year'].str.replace('.0', '')
co_data

        Month Year  Total Sales State
0     January   14     46563933    CO
1    February   14     45987045    CO
2       March   14     54703509    CO
3      April    14     53452855    CO
4        May    14     52730209    CO
5        June   14     53928391    CO
6       July    14     61004415    CO
7      August   14     67432834    CO
8   September   14     63066595    CO
9     October   14     62965201    CO
10   November   14     58448588    CO
11   December   14     63240164    CO
12    January   15     67405866    CO
13   February   15     64909262    CO
14      March   15     75773174    CO
15     April    15     76711461    CO
16        May   15     78199969    CO
17       June   15     81012614    CO
18      July    15     95926250    CO
19     August   15     98498850    CO
20  September   15     93631179    CO
21    October   15     91210544    CO
22   November   15     80224191    CO
23   December   15     92087895    CO
24    January   16     88756562    CO
25   February   16     91064548    CO
26      March   16    103237561    CO
27     April    16    102135831    CO
28        May   16    101467366    CO
29       June   16    106059413    CO
30      July    16    121608432    CO
31     August   16    125112311    CO
32  September   16    125809892    CO
33    October   16    116635868    CO
34   November   16    109222331    CO
35   December   16    116093358    CO
36    January   17    107731031    CO
37   February   17    106740379    CO
38      March   17    130363830    CO
39     April    17    124272673    CO
40        May   17    123534419    CO
41       June   17    128951217    CO
42      July    17    136294447    CO
43     August   17    138469157    CO
44  September   17    135798669    CO
45    October   17    127706166    CO
46   November   17    119567777    CO
47   December   17    128272454    CO
48    January   18    117993222    CO
49   February   18    112509517    CO
50      March   18    135183956    CO
51     April    18    124309879    CO
52        May   18    122868216    CO
53       June   18    129523030    CO
54      July    18    138535584    CO
55     August   18    141322108    CO
56  September   18    135536453    CO
57    October   18    129224771    CO
58   November   18    123939891    CO

In [9]:
co_data['Date'] = co_data['Month'].str.cat(others=co_data['Year'])
co_data['Date'] = co_data['Date'].str.replace(' ', '')
co_data['Date'] = pd.to_datetime(pd.Series(co_data['Date']), format="%B%y")
co_data

        Month Year  Total Sales State       Date
0     January   14     46563933    CO 2014-01-01
1    February   14     45987045    CO 2014-02-01
2       March   14     54703509    CO 2014-03-01
3      April    14     53452855    CO 2014-04-01
4        May    14     52730209    CO 2014-05-01
5        June   14     53928391    CO 2014-06-01
6       July    14     61004415    CO 2014-07-01
7      August   14     67432834    CO 2014-08-01
8   September   14     63066595    CO 2014-09-01
9     October   14     62965201    CO 2014-10-01
10   November   14     58448588    CO 2014-11-01
11   December   14     63240164    CO 2014-12-01
12    January   15     67405866    CO 2015-01-01
13   February   15     64909262    CO 2015-02-01
14      March   15     75773174    CO 2015-03-01
15     April    15     76711461    CO 2015-04-01
16        May   15     78199969    CO 2015-05-01
17       June   15     81012614    CO 2015-06-01
18      July    15     95926250    CO 2015-07-01
19     August   15     98498850    CO 2015-08-01
20  September   15     93631179    CO 2015-09-01
21    October   15     91210544    CO 2015-10-01
22   November   15     80224191    CO 2015-11-01
23   December   15     92087895    CO 2015-12-01
24    January   16     88756562    CO 2016-01-01
25   February   16     91064548    CO 2016-02-01
26      March   16    103237561    CO 2016-03-01
27     April    16    102135831    CO 2016-04-01
28        May   16    101467366    CO 2016-05-01
29       June   16    106059413    CO 2016-06-01
30      July    16    121608432    CO 2016-07-01
31     August   16    125112311    CO 2016-08-01
32  September   16    125809892    CO 2016-09-01
33    October   16    116635868    CO 2016-10-01
34   November   16    109222331    CO 2016-11-01
35   December   16    116093358    CO 2016-12-01
36    January   17    107731031    CO 2017-01-01
37   February   17    106740379    CO 2017-02-01
38      March   17    130363830    CO 2017-03-01
39     April    17    124272673    CO 2017-04-01
40        May   17    123534419    CO 2017-05-01
41       June   17    128951217    CO 2017-06-01
42      July    17    136294447    CO 2017-07-01
43     August   17    138469157    CO 2017-08-01
44  September   17    135798669    CO 2017-09-01
45    October   17    127706166    CO 2017-10-01
46   November   17    119567777    CO 2017-11-01
47   December   17    128272454    CO 2017-12-01
48    January   18    117993222    CO 2018-01-01
49   February   18    112509517    CO 2018-02-01
50      March   18    135183956    CO 2018-03-01
51     April    18    124309879    CO 2018-04-01
52        May   18    122868216    CO 2018-05-01
53       June   18    129523030    CO 2018-06-01
54      July    18    138535584    CO 2018-07-01
55     August   18    141322108    CO 2018-08-01
56  September   18    135536453    CO 2018-09-01
57    October   18    129224771    CO 2018-10-01
58   November   18    123939891    CO 2018-11-01

In [10]:
ak_data = pd.read_csv('../Inputs/SALESInputs/AK_MJ_Sales.csv')
ak_data = ak_data[:-1]
ak_data = ak_data[2:]
ak_data['State'] = 'AK'
ak_data = ak_data[['Month', 'Year', 'Total Sales', 'State']]
ak_data

        Month    Year  Total Sales State
2    December  2016.0     830384.0    AK
3    January   2017.0     589072.0    AK
4    February  2017.0     709520.0    AK
5       March  2017.0    1204400.0    AK
6       April  2017.0    1467088.0    AK
7         May  2017.0    1514080.0    AK
8        June  2017.0    2849744.0    AK
9        July  2017.0    3203424.0    AK
10     August  2017.0    3845568.0    AK
11  September  2017.0    3906432.0    AK
12    October  2017.0    5271808.0    AK
13   November  2017.0    4694064.0    AK
14   December  2017.0    4330848.0    AK
15   January   2018.0    5413036.0    AK
16   February  2018.0    4591080.0    AK
17      March  2018.0    5657456.0    AK
18      April  2018.0    5420008.0    AK
19        May  2018.0    6106888.0    AK
20       June  2018.0    6471800.0    AK
21       July  2018.0    7082728.0    AK
22     August  2018.0    8109788.0    AK
23  September  2018.0    7750604.0    AK

In [11]:
ak_data['Year']= ak_data['Year'].astype(str)
ak_data['Year'] = ak_data['Year'].str.replace('.0', '')
ak_data

        Month Year  Total Sales State
2    December   16     830384.0    AK
3    January    17     589072.0    AK
4    February   17     709520.0    AK
5       March   17    1204400.0    AK
6       April   17    1467088.0    AK
7         May   17    1514080.0    AK
8        June   17    2849744.0    AK
9        July   17    3203424.0    AK
10     August   17    3845568.0    AK
11  September   17    3906432.0    AK
12    October   17    5271808.0    AK
13   November   17    4694064.0    AK
14   December   17    4330848.0    AK
15   January    18    5413036.0    AK
16   February   18    4591080.0    AK
17      March   18    5657456.0    AK
18      April   18    5420008.0    AK
19        May   18    6106888.0    AK
20       June   18    6471800.0    AK
21       July   18    7082728.0    AK
22     August   18    8109788.0    AK
23  September   18    7750604.0    AK

In [12]:
ak_data['Date'] = ak_data['Month'].str.cat(others=ak_data['Year'])
ak_data['Date'] = ak_data['Date'].str.replace(' ', '')
ak_data['Date'] = pd.to_datetime(pd.Series(ak_data['Date']), format="%B%y")
ak_data

        Month Year  Total Sales State       Date
2    December   16     830384.0    AK 2016-12-01
3    January    17     589072.0    AK 2017-01-01
4    February   17     709520.0    AK 2017-02-01
5       March   17    1204400.0    AK 2017-03-01
6       April   17    1467088.0    AK 2017-04-01
7         May   17    1514080.0    AK 2017-05-01
8        June   17    2849744.0    AK 2017-06-01
9        July   17    3203424.0    AK 2017-07-01
10     August   17    3845568.0    AK 2017-08-01
11  September   17    3906432.0    AK 2017-09-01
12    October   17    5271808.0    AK 2017-10-01
13   November   17    4694064.0    AK 2017-11-01
14   December   17    4330848.0    AK 2017-12-01
15   January    18    5413036.0    AK 2018-01-01
16   February   18    4591080.0    AK 2018-02-01
17      March   18    5657456.0    AK 2018-03-01
18      April   18    5420008.0    AK 2018-04-01
19        May   18    6106888.0    AK 2018-05-01
20       June   18    6471800.0    AK 2018-06-01
21       July   18    7082728.0    AK 2018-07-01
22     August   18    8109788.0    AK 2018-08-01
23  September   18    7750604.0    AK 2018-09-01

In [13]:
ore_data = pd.read_csv('../Inputs/SALESInputs/OR_MJ_Sales.csv')
ore_data = ore_data.drop(columns=['Unnamed: 4'])
ore_data['State'] = 'OR'
ore_data = ore_data[['Month', 'Year', 'Total Sales', 'State']]
ore_data

        Month  Year  Total Sales State
0    February  2016  14612764.71    OR
1       March  2016  25639729.41    OR
2       April  2016  21971241.18    OR
3         May  2016  25526117.65    OR
4        June  2016  33738282.35    OR
5        July  2016  32552641.18    OR
6      August  2016  43207535.29    OR
7   September  2016  39291676.47    OR
8     October  2016  46065629.41    OR
9    November  2016  38022805.88    OR
10   December  2016  33221176.47    OR
11    January  2017  30947623.53    OR
12   February  2017  26524488.24    OR
13      March  2017  26329600.00    OR
14      April  2017  26379494.12    OR
15        May  2017  33733047.06    OR
16       June  2017  37041323.53    OR
17       July  2017  30385794.12    OR
18     August  2017  39834847.06    OR
19  September  2017  37898741.18    OR
20    October  2017  36575647.06    OR
21   November  2017  41437123.53    OR
22   December  2017  36713717.65    OR
23    January  2018  47070582.35    OR
24   February  2018  39416794.12    OR
25      March  2018  39813552.94    OR
26      April  2018  45022835.29    OR
27        May  2018  45785676.47    OR
28       June  2018  43596041.18    OR
29      July   2018  51482800.00    OR
30     August  2018  51716317.65    OR
31  September  2018  40991182.35    OR
32    October  2018  59382188.24    OR
33   November  2018  48046694.12    OR

In [14]:
ore_data['Year']= ore_data['Year'].astype(str)
ore_data['Year'] = ore_data['Year'].str.replace('.0', '')
ore_data['Date'] = ore_data['Month'].str.cat(others=ore_data['Year'])
ore_data['Date'] = ore_data['Date'].str.replace(' ', '')
ore_data['Date'] = pd.to_datetime(pd.Series(ore_data['Date']), format="%B%y")
ore_data

        Month Year  Total Sales State       Date
0    February   16  14612764.71    OR 2016-02-01
1       March   16  25639729.41    OR 2016-03-01
2       April   16  21971241.18    OR 2016-04-01
3         May   16  25526117.65    OR 2016-05-01
4        June   16  33738282.35    OR 2016-06-01
5        July   16  32552641.18    OR 2016-07-01
6      August   16  43207535.29    OR 2016-08-01
7   September   16  39291676.47    OR 2016-09-01
8     October   16  46065629.41    OR 2016-10-01
9    November   16  38022805.88    OR 2016-11-01
10   December   16  33221176.47    OR 2016-12-01
11    January   17  30947623.53    OR 2017-01-01
12   February   17  26524488.24    OR 2017-02-01
13      March   17  26329600.00    OR 2017-03-01
14      April   17  26379494.12    OR 2017-04-01
15        May   17  33733047.06    OR 2017-05-01
16       June   17  37041323.53    OR 2017-06-01
17       July   17  30385794.12    OR 2017-07-01
18     August   17  39834847.06    OR 2017-08-01
19  September   17  37898741.18    OR 2017-09-01
20    October   17  36575647.06    OR 2017-10-01
21   November   17  41437123.53    OR 2017-11-01
22   December   17  36713717.65    OR 2017-12-01
23    January   18  47070582.35    OR 2018-01-01
24   February   18  39416794.12    OR 2018-02-01
25      March   18  39813552.94    OR 2018-03-01
26      April   18  45022835.29    OR 2018-04-01
27        May   18  45785676.47    OR 2018-05-01
28       June   18  43596041.18    OR 2018-06-01
29      July    18  51482800.00    OR 2018-07-01
30     August   18  51716317.65    OR 2018-08-01
31  September   18  40991182.35    OR 2018-09-01
32    October   18  59382188.24    OR 2018-10-01
33   November   18  48046694.12    OR 2018-11-01

In [16]:
fig1,ax1=plt.subplots()

ax1.plot(wa_data['Date'], wa_data['Total Sales'], color="mediumpurple", label="Washington")
ax1.plot(co_data['Date'], co_data['Total Sales'], color="palevioletred", label="Colorado")
ax1.plot(ore_data['Date'], ore_data['Total Sales'], color="darkorange", label="Oregon")
ax1.plot(ak_data['Date'], ak_data['Total Sales'], color="lightseagreen", label="Alaska")
ax1.xaxis_date()

plt.title('Marijuana Retail Sales', fontsize=18)
plt.legend()

plt.ylim(0, max(co_data['Total Sales']*1.05))
plt.ylabel('Monthly Marijuana Sales (Retail)')
y_labels = ['$0', '$20M', '$40M', '$60M', '$80M', '$100M', '$120M', '$140M']
ax1.set_yticklabels(y_labels)

plt.tight_layout()
plt.grid()

plt.show()

In [17]:
plt.savefig('../SALES_Jason/retail_mj_sales.png')